/*fire animations*/


  /*water anim*/

  
.water:hover .watereffect{
    
  }

  /*posion anim*/

  .poison:hover .poisoneffect{
    
  }
  
  /*bubble anim*/
  .minimal {
    box-shadow: 2px 2px 5px rgba(0, 0 0, 0.15) !important;
    background: white;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
  }

  .bubbleList{
    width: 100%;
    height: 100%;
  }
  
  
  .lit-container:hover .lit,
  .lit-container:focus-within .lit {
    background: hsla(0deg, 0%, 60%, 20%) !important;
  }
  
  /* lit --------------------------- */
  
  [data-lit-hue] {
    position: relative;
  }
  
  span.lit {
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: blow 2s ease-in infinite;
    transition: all 400ms ease;
  }
  
  @keyframes blow {
    0% {
      transform: translate(-50%, -50%) scale(0.1);
      opacity: 0;
    }
  
    10% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  
    100% {
      transform: translate(-50%, -40vh);
      opacity: 0;
    }
  }