@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

@mixin center-bg {
  background-size: cover;
  background-position: center;
}

body {
  background: white;
  background: linear-gradient(to right, #ee5a50, #1b1b1b);
  font-family: "Fira Sans", sans-serif;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.pokecon{
  overflow: hidden;
}

.pokerow{
  margin: 0;
  margin-top: 3.5em !important;
  padding: 3em;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar-brand{
  color: white !important;
}

.toastrefresh{
  cursor: pointer;
  text-decoration: none;
  color: #ee5a50;
}

.toastrefresh:hover{
  color: #1b1b1b;
}
