/*Card Styles*/
.pokecard {
  display: grid;
  grid-template-rows: 1fr 10rem auto;
  grid-template-areas: "main" "." "footer";
  height: 320px !important;
  width: 260px !important;
  /* background-color: #212529 !important; */
  background-size: cover;
  border-radius: 20px !important;
  /* box-shadow: 0.1rem 0.1rem 1rem #000; */
  color: #fff;
  transition: 0.4s ease-out;
  position: relative;
  margin: 0.5rem;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
  backdrop-filter: blur(10.6px);
  -webkit-backdrop-filter: blur(10.6px);
  border: 1px solid rgba(0, 0, 0, 0) !important;
  transition: 0.4s ease-out;
}
.pokecard:after {
  content: "";
  background-image: url(https://icon-library.com/images/pokemon-desktop-icon/pokemon-desktop-icon-23.jpg);
  background-repeat: no-repeat;
  background-size: 10em;
  filter: brightness(0%);
  opacity: 0.2;
  position: absolute;
  transition: 0.4s ease-out;
  height: 10em;
  width: 5em;
  right: 0;
  bottom: 5em;
  z-index: 0;
}
.pokecard:hover {
  transition: 0.4s ease-out;
}
.pokecard:hover::after {
  width: 0px;
  opacity: 0.7;
  transition: 0.4s ease-out;
}

.pokecard:hover .card-header {
  font-size: 23px;
}

.pokecard .img-wrapper {
  text-align: center;
  width: 100%;
  z-index: 2;
}
.pokecard .img-wrapper img {
  width: 100%;
  z-index: 2;
}
.pokecard .card-header {
  border: none;
  display: flex;
  justify-content: space-between;
  transition: 0.4s ease-out;
  border-radius: 20px !important;
  z-index: 1;
}

.pokecard .card-body {
  z-index: 2;
}
.pokecard:hover .content {
  transform: translateY(40px);
}
.pokecard .card-header .badge {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokecard .content {
  min-height: 25%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1.2rem 1rem 0 1.5rem;
  border-radius: 20px;
  transform: translateY(-50px);
  transition: 0.4s ease-out;
  z-index: 1;
  justify-content: space-between;
  display: flex;
}

.pokecard .content .pokecolor {
  font-size: 10pt;
  font-weight: bold;
  font-style: italic;
}

.water:hover {
  background-position: 33% 200% !important;
  background-size: 130% !important;
  background-repeat: no-repeat !important;
  background-image: url("../assets/svg/water.svg") !important;
  z-index: 1;
}

.fire:hover {
  background-position: -50% !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-image: url("../assets/svg/fire.svg") !important;
  z-index: 1;
}

.grass:hover {
  background-position: 10% !important;
  background-size: 200% !important;
  background-image: url("../assets/svg/grass.svg") !important;
  z-index: 1;
}

.electric:hover {
  background-position: -20% !important;
  background-size: 120% !important;
  background-repeat: no-repeat !important;
  background-image: url("../assets/svg/ray1.png") !important;
}

.poison:hover {
  background-position: 10% !important;
  background-size: 50% !important;
  background-image: url("../assets/svg/posion.svg") !important;
  z-index: 0;
}

.ground:hover {
  background-position: 10% !important;
  background-size: 200% !important;
  background-image: url("../assets/svg/ground.svg") !important;
  z-index: 0;
}

.fairy:hover {
  background-image: url("../assets/svg/fairy.svg") !important;
  z-index: 0;
}

.psychic:hover {
  background-size: 150% !important;
  background-image: url("../assets/svg/psychic.svg") !important;
  background-repeat: no-repeat !important;
  z-index: 0;
}

.rock:hover {
  background-position: 40% 40% !important;
  background-size: cover !important;
  background-image: url("../assets/svg/rock.svg") !important;
  z-index: 0;
}

.ghost:hover {
  background-image: url("../assets/svg/ghosts.svg") !important;
  z-index: 0;
}

.fighting:hover {
  background-position: 37% 90% !important;
  background-size: 150% !important;
  background-repeat: no-repeat !important;
  background-image: url("../assets/svg/pows.png") !important;
  z-index: 0;
}

.normal:hover {
  background-position: 0% 50% !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-image: url("../assets/svg/normal.png") !important;
  z-index: 0;
}

.ice:hover {
  background-repeat: no-repeat !important;
  background-position: -150% -150% !important;
  background-size: 90% !important;
  background-image: url("../assets/svg/ice2.png") !important;
  z-index: 0;
}

.bug:hover {
  background-repeat: no-repeat !important;
  background-position: 85% -30% !important;
  background-size: 150% !important;
  /* background-image: url("../assets/svg/bug.png") !important; */
  z-index: 0;
}

.dark:hover {
  background-position: 70% 50% !important;
  background-size: 200% !important;
  background-repeat: no-repeat !important;
  background-image: url("../assets/svg/dark.svg") !important;
  z-index: 0;
}

.water-header::after {
  content: "";
  width: 20em;
  height: 20em;
  bottom: 10px;
  left: 10px;
  position: absolute;
  background-position: 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/svg/water.svg");
  z-index: 0;
}

.fire-header::after {
  content: "";
  width: 20em;
  height: 20em;
  bottom: -5%;
  left: 10px;
  position: absolute;
  background-position: 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/svg/fire.svg");
  z-index: 0;
}

.grass-header::after {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  background-position: 100%;
  background-size: 50%;
  background-image: url("../assets/svg/grass.svg");
  height: 3em !important;
}

.electric-header::after {
  content: "";
  width: 20em;
  height: 20em;
  bottom: 10px;
  left: 10px;
  position: absolute;
  background-position: 0%;
  background-size: contain;
  background-image: url("../assets/svg/ray1.png");
}

.poison-header::after {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 3em !important;
  background-position: 50%;
  background-size: 10%;
  background-image: url("../assets/svg/posion.svg");
  z-index: 0;
}

.ground-header::after {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 3em !important;
  background-position: 50%;
  background-size: 30%;
  background-image: url("../assets/svg/ground.svg");
  z-index: 0;
}

.fairy-header::after {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 3em !important;
  background-position: 0%;
  background-size: 30%;
  background-image: url("../assets/svg/fairy.svg");
  z-index: 0;
}

.psychic-header::after {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 3em !important;
  background-position: 80% 80%;
  background-size: 90%;
  background-image: url("../assets/svg/psychic.svg");
  z-index: 0;
}

.rock-header::after {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 4em !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/svg/rock.svg");
  z-index: 0;
}

.ghost-header::after {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 3em !important;
  background-position: 0%;
  background-size: 20%;
  background-image: url("../assets/svg/ghosts.svg");
  z-index: 0;
}

.fighting-header::after {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 3em !important;
  background-position: 30% 80%;
  background-size: 20%;
  background-image: url("../assets/svg/pows.png");
  z-index: 0;
}

.normal-header::after {
  content: "";
  width: 20em;
  height: 20em;
  bottom: 10px;
  left: 10px;
  position: absolute;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/svg/normal.png");
  z-index: 0;
}

.ice-header::after {
  content: "";
  width: 20em;
  height: 20em;
  bottom: 10px;
  left: 10px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: contain;
  background-image: url("../assets/svg/ice2.png");
  z-index: 0;
}

.bug-header::after {
  content: "";
  width: 20em;
  height: 20em;
  bottom: 10px;
  left: 10px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: contain;
  /* background-image: url("../assets/svg/bug.png"); */
  z-index: 0;
}

.dark-header::after {
  content: "";
  width: 20em;
  height: 20em;
  bottom: 0em;
  left: 0px;
  position: absolute;
  background-position: 50% 50%;
  background-size: 150%;
  background-repeat: no-repeat;
  background-image: url("../assets/svg/dark.svg");
  z-index: 0;
}
