.modal{
  padding: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-dialog{
  width: 97% !important;
}

.modal-title{
    z-index: 2;
}

.modal-content{
    background-color: #1D2024 !important;
}

.modal-header{
    color: white;
    background-color: #1D2024 !important;    
    border: none !important;
    border-radius: 0 0 10px 10px !important;
    height: 50% ;
    transition: 0.4s ease-out;
    padding-left: 5em !important;
    padding-right: 5em !important;
}

.modal-header .modal-title span{
    color: #2D3034;
    margin-left: 10px;
}

.modal-header button{
    background: none;
    border: none;
    z-index: 2;
    position: relative;
    width: 80px; 
    transition: all .3s ease-in-out;
}

.modal-header button:hover{
    background: none;
    border: none;
    box-shadow: inset #2d3034 0px 2px 2px 1px; 
}

.modal-body{
    z-index: 1;
}

.modal-poketabs{
    color: white;
    background-color: #1D2024 !important;    
    transform: translateY(-10vh);
    border-radius: 50px 50px 0 0;
    height: 100%;
    overflow: hidden;
}

.modal-footer{
    color: white;
    background-color: #1D2024 !important;
    border: none !important;
}
.modal-footer button{
    background-color: #f4001f;
    border: none;
}
.chipsContainer{
    display: flex;
}

.chip{
    background-color: rgb(255 255 255 / 25%);
    border-radius: 10px;
    margin-right: 10px;
    padding: 0 15px;
    font-size: 1rem;
    position: relative;
    transition: all .3s ease-in-out;
}
.chip:hover{
    cursor: pointer;
    box-shadow: inset #2d3034 0px 2px 2px 1px;
}
.pokeGif{    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;    
    border-radius: 10px;
    width: 400px;
    height: 400px;
    bottom: 50px;
    position: relative;
    transform: translateY(100px);
    z-index: 3;
}

.pokeGif::before {    
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(8,9,9,0.654499299719888) 30%, rgba(0,212,255,0) 100%);
    border-radius: 50%;
    content: "";
    height: 20px;
    position: absolute;
    width: 50%;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    z-index: 0;
    filter: blur(2px);
  }

  /*animation*/
  .modal-header .goefooter {
    z-index: 1;
    background-color: transparent;
    display: grid;
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    grid-area: footer;
    min-height: 40%;
    /* opacity: 0.6; */
  }
  
  .modal-header .goefooter .bubbles {
    position: absolute;
    bottom: -35px;
    left: -11px;
    right: -11px;
    background: var(--footer-background);
    /* filter: url("#goefilter_svg__blob"); */
    z-index: 0;
  }
  .modal-header .goefooter .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-bubble-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite
        var(--delay, 0s),
      bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
      bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  
  #darkfilter_svg__filtercolor {
    flood-color: #3a2d44;
  }
  #bugfilter_svg__filtercolor {
    flood-color: #8fd594;
  }
  #poisonfilter_svg__filtercolor {
    flood-color: #Bc6aec;
  }
  
  #groundfilter_svg__filtercolor {
    lighting-color: #Deb15a;
  }
  
  #ghostfilter_svg__filtercolor {
    flood-color: #4B6780;
  }
  
  #rockfilter_svg__filtercolor {
    flood-color: #A07010;
  }
  
  @-webkit-keyframes bubble-size {
    0%,
    75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%,
    75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  